html body {
    height: 100%;
    width: 100%;
    background: #c9c9c9;
;
}

.wrapper {
    padding: 4% 1% 5% 1%;
    
}

.container {
    min-height: 100%;
    min-width: 100%;

}

.container1 {
background: white;
    min-height:  height: 30%;
    width: 75%;
    margin-left: 12%;}

#p1 {
     text-align: justify;
     margin: 0% 7% 7% 7%;;
    
}

#clickRed {
    height: 35px;
    width: 15%;
    background: red;
    display: inline-block;
    margin: 0% 2% 0% 7%;
    
}

#clickBlue {
    height: 35px;
    width: 15%;
    background: #6ca9e6;
    display: inline-block;
    
}

.click {
    text-align: center;
    margin: 7% 2% 2% 2%;
    color: white;
    font-size: 20px;
    font-family: Verdana; 
    
}

div .container2 {
    margin-top: 5%;
    margin-left: 12%;
    min-height: 50%;
    width: 75%;
    background: white;
    margin-bottom: 10%;
     
}

img {
    height: 59%;
    width: 85%;
    margin-top: 2%;
    margin-left: 7%;
    
}

#p2 {
    text-align: justify;
    margin: 7% 7% 0% 7%;
    
}

a {
    float: right;
    font-size: 23px;
    font-family: serif;
    margin-bottom: 5px;
    color: white;
    
}

.footer {
    height: 10%;
    width: 100%;
    background: #363636;
    
}

#apple {
    margin-right: 4%;
    margin-top: 1%;
    text-decoration: none;
    
}

#google {
    margin-right: 13%; 
    margin-top: 1%;
    text-decoration: none;

}