html body {
  height: 100%;
  width: 100%;
  background: #c9c9c9;
  
}

.container {
  min-height: 100%;
  min-width: 100%;
  fotn font-size: 2em;

}

.wrapper {
  padding: 4% 1% 5% 1%;
    
}

.container1 {
  background: white;
  min-height:  height: 30%;
  width: 80%;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;

}

.p1 {
  font-size: 1.5em;
  text-align: justify;
  margin: 0% 7% 7% 7%;;
    
}

.clickRed {
  height: 3em;
  width: 18%;
  background: red;
  display: inline-block;
  margin: 0% 2% 0% 7%;
    
}

.clickBlue {
  height: 3em;
  width: 18%;
  background: #6ca9e6;
  display: inline-block;
  
}

button {
  text-align: center;
  border: none;
  margin-top: 0.3em;
  color: white;
  font-size: 1.25em;
  font-family: Verdana; 
    
}

.container2 {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  min-height: 50%;
  width: 80%;
  background: white;
  margin-bottom: 10%;
     
}

img {
  height: 35em;
  width: 59em;
  margin-top: 2%;
  margin-left: 7%;
    
}

.p2 {
  font-size: 1.5em;
  text-align: justify;
  margin: 7% 7% 0% 7%;
    
}

a {
  float: right;
  position: relative;
  left: 1.3em;
  font-size: 2em;
  font-family: serif;
  margin-bottom: 0.5em;
  color: white;
    
}

.footer {
  height: 20%;
  width: 100%;
  background: #363636;
    
}

.apple {
  margin-right: 4%;
  margin-top: 3%;
  text-decoration: none;
    
}

.google {
  margin-right: 13%; 
  margin-top: 3%;
  text-decoration: none;

}