html body {
  height: 100%;
  width: 100%;
  max-width: 80em;
  position: relative;
  margin: 0 auto;
  
}

.header {
  height: 5em;
  width: 100%;
  background: #3b3b3b;
    
}

.buttons {
  height: 2.5em;
  width: 2em;   
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  display: inline-block;
  position: relative;

}

.apple {
  top: 1em;
  left: 2em;

}

.google {
  top: 1em;
  left: 4em;

}
    
.wrapper {
  display: flex;
  margin-bottom: 10em;
    
}

li {
  list-style: none;

}

ul {
  font-size: 2em;

}

.ul1 {
  margin-top: 1em;
}

.container1 {
  flex-direction: row;
  height: 100%;

}

.container2 {
  flex-direction: row;
  height: 100%;
  margin: 184px 1px 1px 1px;
    
}

.square {
  float: right;
  height: 32.7em;
  width:37.4em;
  background: #d7dadb;
  margin-top: -10em;
  margin-bottom: 2em;

}

p {
  text-align: justify;
  font-size: 1em;
    
}

.footer {
  height: 5em;
  width: 100%;
  background: #3b3b3b;
    
}
